<% provide(:title, "Вход") %>
<h1>Вход</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email, 'Почта' %>
			<%= f.text_field :email %>

			<%= f.label :password, 'Пароль' %>
			<%= f.password_field :password %>

			<%= f.submit "Войти", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>Новый пользователь? <%= link_to "Зарегистрируйтесь!", signup_path %></p>
	</div>
</div>