<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name, 'Название' %>
  <%= f.text_field :name %>
  <%= f.label :content, 'Текст задачи' %>
  <%= f.text_area :content %>
  <%= f.label :formula, 'Функция' %>
  <%= f.text_field :formula, id: "formulaInput" %>      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
<% end %>
<h4>
  <p>Специальные символы:</p>
</h4>
<span>
  <button onClick="insertThisInThere('∀','formulaInput');">∀</button>
  <button onClick="insertThisInThere('∃','formulaInput');">∃</button>
  <button onClick="insertThisInThere('∄','formulaInput');">∄</button>
  <button onClick="insertThisInThere('∅','formulaInput');">∅</button>
  <button onClick="insertThisInThere('∈','formulaInput');">∈</button>
  <button onClick="insertThisInThere('∉','formulaInput');">∉</button>
  <button onClick="insertThisInThere('⊂','formulaInput');">⊂</button>
  <button onClick="insertThisInThere('⊃','formulaInput');">⊃</button>
  <button onClick="insertThisInThere('⊄','formulaInput');">⊄</button>
  <button onClick="insertThisInThere('⊅','formulaInput');">⊅</button>
  <button onClick="insertThisInThere('⩽','formulaInput');">⩽</button>
  <button onClick="insertThisInThere('⩾','formulaInput');">⩾</button>
  <button onClick="insertThisInThere('¬','formulaInput');">¬</button>
  <button onClick="insertThisInThere('∧','formulaInput');">∧</button>
  <button onClick="insertThisInThere('∨','formulaInput');">∨</button>
  <button onClick="insertThisInThere('⊕','formulaInput');">⊕</button>
  <button onClick="insertThisInThere('⟶','formulaInput');">⟶</button>
  <button onClick="insertThisInThere('⟷','formulaInput');">⟷</button>
  <button onClick="insertThisInThere('','formulaInput');"></button>
  <button onClick="insertThisInThere('∣','formulaInput');">∣</button>
</span>