<% provide(:title, @task.name) %>
<div class="row">
  <div class="span3">
    <br>
    <%= link_to "Изменить", edit_task_path(@task), class: "btn" if current_user.admin? %>
    <%= link_to "Удалить", @task, method: :delete, class: "btn btn-inverse", 
      data: { confirm: "Вы уверены?" } if current_user.admin? %>
  </div>
  <div class="span3 offset6">
    <h1>Задача <%= @task.id %></h1>
  </div>
  <div class="span6">
    <h3><%= @task.name %></h3>
  </div>
  <div class="span12">
    <p>
      <%= @task.content %>
    </p>
  </div>
  <div class="span12">
    <div class="row">
      <div class="span2">
        <h4>
          <p>Функция: </p>
        </h4>
      </div>
      <div class="span10">
        <pre class="formula"><%= @task.formula %></pre>
      </div>
    </div>
  </div>
  <div class="span12">
    <!-- input field -->
  </div>
  <div class="span12">
    <!-- outputfield -->
  </div>
  <div class="span7 offset1">
    <%= render 'solutions/form' %>
  </div>
</div>