<% provide(:title, "Редактирование пользовательских данных") %>
<h1>Обновление данных профиля</h1>

<div class="row">
	<div class="span6 offset3">
	    <%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name, 'Имя' %>
			<%= f.text_field :name %>

			<%= f.label :email, 'Почта' %>
			<%= f.text_field :email %>

			<%= f.label :password, 'Пароль' %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, 'Подтверждение пароля' %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
	    <% end %>

	    <%= gravatar_for @user %>
	    <br>
	    <a href="http://gravatar.com/emails" class="btn">изменить</a>
	</div>
</div>